/* CSS HEX */

:root {
    --title-prymary: #FAD11Eff;
    --subtitle-primary: #D8CBC4ff;
    --background-page: #020101ff;
    --bordes: #992932ff;
    --price: #F37C4Aff;
    --promos: #DE1F26ff;
    --discount: #84982Cff;
    --background2: #F6E6C2ff;
}


/* SCSS HEX */

$title-prymary: #FAD11Eff;
$subtitle-primary: #D8CBC4ff;
$background-page: #020101ff;
$bordes: #992932ff;
$price: #F37C4Aff;
$promos: #DE1F26ff;
$discount: #84982Cff;
$background2: #F6E6C2ff;